<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiapk.spearhead"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
        </activity>

		<activity android:name=".FireWallActivity"></activity>
		<activity android:name=".Main3"></activity>	
		
        <activity
            android:name=".SpearheadActivity"
            android:label="@string/app_name"
            android:theme="@style/noTitle" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.hiapk.broadcreceiver.BootAndShutdownBroadcast"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.PackageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.ConnectivityChange" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.RecordDataReceiver" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.RecordUidDataReceiver" >
        </receiver>
    </application>

  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
  <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
</manifest>