<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiapk.spearhead"
    android:versionCode="7"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:name=".SpearheadApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hiapk.ui.scene.PrefrenceSetting"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity android:name=".FireWallActivity" >
        </activity>
        <activity
            android:name="com.hiapk.ui.scene.FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity android:name=".Main3" >
        </activity>
        <activity
            android:name="com.hiapk.ui.scene.UidMonthTraff"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity android:name="com.hiapk.viewflow.ViewFlowMainScene" >
        </activity>
        <activity
            android:name="com.hiapk.ui.scene.Regulate"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity
            android:name="com.hiapk.widget.Operator"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity
            android:name="com.hiapk.ui.scene.PhoneSet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity
            android:name=".SpearheadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/noTitle" >
        </activity>
        <activity
            android:name=".WindowNotifyDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
            </intent-filter>
        </activity>

        <service
            android:name="com.hiapk.ui.widget.FloatService"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="com.hiapk.server" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.hiapk.ui.widget.Appwidget"
            android:icon="@drawable/ic_launcher"
            android:label="先锋流量监控(4X1)" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.hiapkAPPWIDGET_UPDATE" />
                <action android:name="com.hiapk.wifiwidget" />
                <action android:name="com.hiapk.prgswidget" />
                <action android:name="com.hiapk.traffwidget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <receiver
            android:name="com.hiapk.broadcreceiver.BootAndShutdownBroadcast"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" >
                </action>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.PackageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.ConnectivityChange" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.RecordDataReceiver" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.DateChangeBroadcast" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.ExitAppBroadcast" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.TimeChangeToStartDateChange" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.RecordUidDataReceiver" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.RecordUidTotalDataReceiver" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.UpdateWidget" >
        </receiver>
        <receiver android:name="com.hiapk.broadcreceiver.SMS_Received" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4fc824845270157144000044" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Hiapk" />
    </application>

</manifest>